
<!-- JSON-LD: WebSite -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ .Site.Title }}",
  "url": "{{ .Site.BaseURL }}",
  "inLanguage": "{{ .Language.LanguageCode }}"
}
</script>
{{ if .IsHome }}
<!-- JSON-LD: SoftwareApplication -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "{{ .Site.Params.appName }}",
  "description": "{{ .Site.Params.description }}",
  "url": "{{ .Site.BaseURL }}",
  "applicationCategory": "UtilitiesApplication",
  "operatingSystem": "Android 8.0+",
  "offers": {
    "@type": "Offer",
    "price": "0",
    "priceCurrency": "USD"
  },
  "author": {
    "@type": "Person",
    "name": "Beryndil",
    "url": "https://hardknocks.university/developer.html"
  }
}
</script>
{{ end }}
